@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@media (max-width: 500px) {
  header {
    width: 30%;
    font-size: 80px;
  }
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C4ADA9;
  }

  header {
    background-color: #800020;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    border-radius: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  h1 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: #C4ADA9;
    text-shadow: 1px 1px 2px #1B0F10;
    margin-bottom: 0;
  }

  .sub {
    font-size: 30px;
    color: #C4ADA9;
    position: absolute;
    align-self: start;
    text-shadow: 1px 1px 1px #1B0F10;
  }

  p {
    font-size: 15px;
    color: black;
  }

  nav {
    font-size: 15px;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: space-between;
  }

  li {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    background-color: #807C8C;
  }

  a {
    color: black;
    text-decoration: none;
  }
  
  main {
    background-color: #D3D3D3;
    padding: 0 5% 5%;
  }

  h2 {
    padding: 0;
  }

  section .callToAction {
    padding: 20px;
    background-color: #800020;
  }

  section .images {
    margin: 1%;
    background-color: #800020;

  }
  
  footer {
    background-color: #800020;
    text-align: center;
    padding: 1em;
  }

  .copyright_font {
    color: #C4ADA9;
  }
  